footer {
    min-height: 5vh;
    display: flex;
    align-items: center;
}

footer p, footer .social-media {
    margin-bottom: 0px;
}

.hero {
    background-image: url("/static/images/background.jpg");
    background-position: center center;
    background-size: cover;
    min-height: 88vh;
    position: relative;
}

.hero .get-started {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Desktop and larger screens*/
@media screen and (max-width: 1200px) {
    .hero {
        min-height: 80vh;
    }
    .hero .get-started a {
        font-size: 1rem;
    }
}

/* Small screen and laptops */
@media screen and (max-width: 1024px) {
    .hero {
        min-height: 50vh;
    }
    .hero .get-started a {
        font-size: .75rem;
    }
}

/* IPads Tablets */
@media screen and (max-width: 768px) {
    .hero {
        min-height: 40vh;
    }

    .hero .get-started a {
        font-size: .5rem;
    }
}

/* Mobile devices */
@media screen and (max-width: 480px) {
    .hero {
        min-height: 30vh;
    }

    .hero .get-started a {
        font-size: .35rem;
    }
}



