{% extends "base.html" %}

{% block title %} First Section {% endblock %}

{% block content %}
<!-- Two Columns Section -->
<section class="two-columns">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <img src="/static/images/cat.jpg"
                     alt="Image"
                     class="img-fluid">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h2>Our Services</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquet varius arcu eu sagittis. Fusce
                    euismod nunc a nisi ultrices, vel faucibus metus ultrices. Sed ullamcorper sapien nisl, sit amet
                    venenatis est auctor eu.</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}